body {
    color: #222222;
    font-family:"Ubuntu", "Helvetica Neue", sans-serif;
    font-weight: 100;
}

nav a,
nav a:visited{
    text-decoration: none;
    color: #FFF;
    padding: 0;
}

nav a:hover,
nav a:visited:hover{
    text-decoration:none;
    cursor: pointer;
    color: #0166A7;
    transition: color 0.8s ease;
}

nav {
    background-color: #13283b;
    width: 100%;
    height: 5rem;
    z-index: 9999;
    position: fixed;
    -webkit-box-shadow: 0px 10px 17px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 17px -4px rgba(0,0,0,1);
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,1);

}

.logo-header {
    width: 4rem;
    height: auto;
    float: left;
}
.identifier {
    margin: 0.5rem 0;
}

.identifier-text {
    list-style: none;
    float: left;
    padding: 0;
    margin: 1rem 0;
    color: #FFF;
}

.identifier-name {
    font-weight: bold;
}

.links {
    padding: 0;
    margin: 1.375rem 0;
    float: right;
}

.links > li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
    margin: 0;
}

.masthead {
    height: 40rem;
    background-image: url('../images/grand_rapids.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100%;
  }

.masthead-text {
    padding-top: 18rem;
    color: #13283b;
}

.masthead-intro {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  font-size: 2.5em;
    background-color: rgba(255,255,255,0.5);
    width: 65%;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.sub-nav {
    margin: 3rem 0;
}
.nav-table {
    list-style: none;
    text-align: center;
}

.project-square {
    height: 20rem;
    width: 20rem;
    display: inline-block;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.49);
    border-radius: 0.6rem;
    position: relative;
}

.project-wrapper {
    color: #13283b;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-project-text {
    font-size: 2rem;
    margin-top: 4.5rem;
}

.nav-project-desc {
    font-size: 1.5rem;
}

.row-2 {
    padding-top: 3rem;
}

.api {
    background-image: url(../images/videogame_square.png);
    background-size: cover;
}

.quiz {
   background-image: url(../images/quiz_square.png);
    background-size: cover;
}

.list-minder {
    background-image: url(../images/list_minder_square.png);
    background-size: cover;
}

.about {
    background-image: url(../images/me_square.jpg);
    background-size: cover;
}

.resume {
    background-image: url(../images/resume_square.png);
    background-size: cover;
}

.contact {
    background-image: url(../images/contact_square.jpg);
    background-size: cover;
}

.api:hover .project-wrapper,
.quiz:hover .project-wrapper,
.list-minder:hover .project-wrapper,
.about:hover .project-wrapper,
.resume:hover .project-wrapper,
.contact:hover .project-wrapper {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}


.projects {
    max-width: 100%;
    letter-spacing: 0.05em;
}

.projects a,
.projects a:visited {
    text-decoration: none;
    font-family: "Slabo 27px", Georgia, serif;
    color: #e57736;
}

.project-header {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    padding-top: 3rem;
}

.project-title {
    font-family: "Slabo 27px", Georgia, serif;
    font-weight: bold;
}

.projects > div {
    overflow: auto
}

.left-project {
    background-color: #021126;
    color: #ffffff;
    width: 100%;
    overflow: auto;
}

.left-project img{
    width: 50%;
    height: auto;
    padding: 5.5em 2em;
    float: left;
}

.project-text-left {
    width: 50%;
    margin-left: 50%;
    padding: 12em 0;
}

.left-project  h2 {
    margin: 0 auto 2rem auto;
    text-align: center;
    color: #e57736;
    font-size: 2.2rem;
}

.left-desc {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 3rem auto;
    text-align: center;
    letter-spacing: 0.05em;
}

.right-project {
    background-color: #13283b;
    color: #ffffff;
    overflow: auto;
}

.project-text-right {
    width: 50%;
    padding: 12em 0;
}

.right-project img {
    width: 50%;
    height: auto;
    float: right;
    padding: 5.5em 2rem;
}

.right-project  h2 {
    margin: 0 auto 2rem auto;
    text-align: center;
    color: #e57736;
    font-size: 2.2rem;
}

.right-desc {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 3rem auto;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.05em;
}

/* About-Me Section*/
.about-me {
    max-width: 80%;
    margin: 0 auto;
    padding: 5.5em 0;
}

.about-me a,
.about-me a:visited {
    text-decoration: none;
    color: #0166A7;
    font-weight: bold;
}

.about-me a:hover,
.about-me a:visited:hover {
    color: #e57736;
    transition: color 0.5s ease;
}

.about-me h2 {
    font-size: 2rem;
    margin: 0;
}

.info {
    margin: 0 auto;
    width: 80%;
}

.about-title {
    text-align: center;
    color: #021126;
    font-size: 3rem;
}

.about-me-img {
    border-radius: 100%;
    height: 15rem;
    margin: 0;
    float: left;
}

.intro-text {
    text-align: left;
}

.familytag {
    color: gray;
}

.questions h3 {
    font-family: "Slabo 27px", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
    color: #e57736;
}


.family,
.questions{
    margin-top: 2rem;
}

.questions > p {
  margin-top: -1em;
}

/* Contact Footer */
.social {
  padding: 0;
  list-style: none;

}

.social li {
  display: inline-block;
  margin: 0 1.5em;
    position: relative;
}

.social img {
    width: 4rem;
    height: auto;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

.social img:hover {
    width: 5rem;
    height: auto;
    transition: width 0.2s linear;
}

.social p {
    float: left;
    padding: 0.5rem 0 0.5rem 5.2em;
}

.social a,
.social a:visited {
    padding: 0;
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s linear;
}

.social a:hover,
.social a:visited:hover {
    transition-delay: 0s;
    color: #e57736;
}

.introduction > p,
.family > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.content-footer {
    background-color: #021126;
    padding: 4em 0;
}

 .content-footer > p {
     color: #ffffff;
     font-size: 1.5em;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 2em 0;
    }
    .social > li {
        display: inherit;
    }
}

