body {
  color: #222222;
  font-family:"Ubuntu", "Helvetica Neue", sans-serif;
}

a,
a:visited{
    text-decoration: none;
    color: #0166A7;
    padding: 0;
}

a:hover,
a:visited:hover{
    text-decoration:none;
    cursor: pointer;
    color: #FFF;
    transition: color 0.8s ease;
}

nav {
    background-color: #13283b;
    width: 100%;
    height: 7rem;
    z-index: 9999;
    position: fixed;
    -webkit-box-shadow: 0px 10px 17px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 17px -4px rgba(0,0,0,1);
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,1);

}

.logo-header {
    width: 5rem;
    height: auto;
    float: left;
}
.identifier {
    margin: 1rem 0;
}

.identifier-text {
    list-style: none;
    float: left;
    padding: 0;
    margin: 1.4rem 0;
    color: #FFF;
}

.identifier-name {
    font-weight: bold;
}

.links {
    padding: 0;
    margin: 1.375rem 0;
    float: right;
}

.links > li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem;
}

.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
    margin: 0;
}

.masthead {
    height: 40rem;
    background-image: url('../images/grand_rapids.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100%;
  }

.masthead-text {
    padding-top: 18rem;
    color: #13283b;
}

.masthead-intro {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  font-size: 3em;
    background-color: rgba(255,255,255,0.5);
    width: 55%;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.nav-table {
    list-style: none;
    text-align: center
}

.project-square {
    height: 20rem;
    width: 20rem;
    display: inline-block;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
    -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.49);
    border-radius: 0.6rem;
}

.project-wrapper {
    color: #13283b;
    text-align: center;
    margin: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    display: none;
}

.nav-project-text {
    font-size: 2rem;
    margin-top: 4.5rem;
}

.nav-project-desc {
    font-size: 1.5rem;
}

.row-2 {
    padding-top: 3rem;
}

.api {
    background-image: url(../images/videogame_square.png);
    background-size: cover;
}

.quiz {
   background-image: url(../images/quiz_square.png);
    background-size: cover;
}

.hot-cold {
    background-image: url(../images/list_minder_square.png);
    background-size: cover;
}

.about {
    background-image: url(../images/me_square.jpg);
    background-size: cover;
}

.resume {
    background-image: url(../images/resume_square.png);
    background-size: cover;
}

.contact {
    background-image: url(../images/contact_square.jpg);
    background-size: cover;
}

.introduction,
.family,
.questions {
    max-width: 50%;
    margin: 0 auto;
    display: none;
}
/*
.introduction h1 {
    font-size: 3rem;
    margin: 0;
    color: #0166A7;;
}
*/

.projects {
    max-width: 100%;
}

.project-header {
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
}

.project-title {
    font-family: "Slabo 27px", Georgia, serif;
    font-weight: 100;
}

.projects > div {
    overflow: auto
}

.startup {
    background-color: #021126;
    color: #ffffff;
    width: 100%;
    overflow: auto;
}

.startup img{
    width: 50%;
    height: auto;
    padding: 2em;
    float: left;
}

.startup > h2 {
    margin-left: 50%;
    margin-top: 10%;
    text-align: center;
    color: #e57736;
    font-size: 2rem;
}

.startup-desc {
    margin-left: 62.5%;
    max-width: 25%;
    padding-top: 3rem auto;
    font-size: 1.2rem;
}

.nyt {
    background-color: #13283b;
    color: #ffffff;
    overflow: auto;
}

.nyt img {
    width: 50%;
    height: auto;
    float: right;
    padding: 2rem;
}

.nyt > h2 {
    margin-right: 50%;
    margin-top: 17%;
    text-align: center;
    color: #e57736;
    font-size: 2rem;
}

.nyt-desc {
    margin-left: 12.5%;
    max-width: 25%;
    padding-top: 3rem auto;
    font-size: 1.2rem;
}
/*
.questions > p {
  margin-top: -1em;
}
*/
.social {
  padding: 0;
  list-style: none;
}

.social > li {
  display: inline-block;
  margin: 0 1em;
}

.social img {
    width: 3rem;
    height: auto;
}

.social a{
    padding: 0;
}

.introduction > p,
.family > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

/*.familytag {
    color: gray;
}

.family > h2,
.questions > h2 {
    font-family: "Indie Flower", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
    color: #A76201;
}
*/

.content-footer {
    background-color: #021126;
    padding: 4em 0;
}

 .content-footer > p {
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 2em 0;
    }
    .social > li {
        display: inherit;
    }
}

